

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}
@* Thêm lớp học *@

<div class="modal fade" id="new" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header">
                        <h4>THÊM LỚP HỌC</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12 p-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                  Tên lớp học
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" id="name" />
                                        </div>
                                    </div>
                                    <div class="col-md-12 p-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                   Ngày bắt đầu
                                                </span>
                                            </div>
                                            <input type="date" class="form-control bg-white" id="start" />
                                        </div>
                                    </div>
                                    <div class="col-md-12 p-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                  Ngày kết thúc
                                                </span>
                                            </div>
                                            <input type="date" class="form-control bg-white" id="finish" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12 p-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    Khóa học
                                                </span>
                                            </div>
                                            @Html.DropDownList("create_khoahoc", new SelectList(ViewBag.listkhoahoc, "IDkhoahoc", "name"), new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-12 p-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    Trạng thái
                                                </span>
                                            </div>
                                            <select class="form-select" aria-label="Default select example" id="create_status">
                                                <option value="1">Đang mở</option>
                                                <option value="2">Sắp mở</option>
                                                <option value="0">Kết thúc</option>
                                            </select>
                                        </div>
                                    </div>

                                    
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="button" id="create" class="btn btn-primary" data-bs-dismiss="modal">Thêm mới</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Quay lại</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">


            </div>
        </div>
    </div>
</div>

@* sửa lớp học *@
<div class="modal fade" id="update" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header">
                        <h4>CHỈNH SỬA LỚP HỌC</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12 p-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                   Tên lớp
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" id="edit_name" />
                                            <input type="number" hidden id="edit_id" />
                                        </div>
                                    </div>
                                    <div class="col-md-12 p-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                  Ngày bắt đầu
                                                </span>
                                            </div>
                                            <input type="date" class="form-control bg-white" id="edit_start" />
                                        </div>
                                    </div>
                                    <div class="col-md-12 p-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                   Ngày kết thúc
                                                </span>
                                            </div>
                                            <input type="date" class="form-control bg-white" id="edit_finish" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12 p-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    Khóa học
                                                </span>
                                            </div>
                                            @Html.DropDownList("edit_khoahoc", new SelectList(ViewBag.listkhoahoc, "IDkhoahoc", "name"), new { @class = "form-control" })
                                        </div>
                                    </div>


                                   
                                        <div class="col-md-12 p-1">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        Trạng thái
                                                    </span>
                                                </div>
                                                <select class="form-select" aria-label="Default select example" id="edit_status">
                                                    <option value="1">Đang mở</option>
                                                    <option value="2">Sắp mở</option>
                                                    <option value="0">Kết thúc</option>
                                                </select>
                                            </div>
                                        </div>

                                       
                                   
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="button" id="save" class="btn btn-primary" data-bs-dismiss="modal">Chỉnh sửa</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Quay lại</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">


                </div>
            </div>
        </div>
    </div>
</div>

@* Hiển thị thông tin lớp học *@
<div class="card">
    <div class="card-header">
        <h4>THÔNG TIN LỚP HỌC</h4>
    </div>
    <div class="card-body">
        <div class=" row">
            <div class="col-md-3">
                <span>Khóa học</span>
            </div>
            <div class="col-md-2">
                @Html.DropDownList("listkhoahoc", new SelectList(ViewBag.listkhoahoc, "IDkhoahoc", "name"), new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new">
                    Thêm mới
                </button>
            </div>
            <div class="col-md-3">
                <span>Số dòng/trang</span>
            </div>
            <div class="col-md-2">
                @Html.DropDownList("Pagesize", new SelectList(ViewBag.Pagesize, "ID", "ID"), new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                <div class="dropdown" style="float:right">
                    <select class="form-select" aria-label="Default select example" id="status">
                        <option value="1">Đang mở</option>
                        <option value="2">Sắp mở</option>
                        <option value="0">Kết thúc</option>

                    </select>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        STT
                    </th>
                    <th>
                        Tên khóa học
                    </th>
                    <th>
                        Ngày bắt đầu
                    </th>
                    <th>
                        Ngày kết thúc
                    </th>
                    <th>
                        Tên khóa học
                    </th>
                    <th>
                        Trạng thái
                    </th>

                    <th>Hành động </th>
                </tr>
            </thead>

            <tbody id="tbData"></tbody>
            <tfoot>
                <tr>
                    <th colspan="100" id="pages">

                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>


@section scripts{
    <script>

        var lophoc = {
            init: function () {
                lophoc.search(1);
                $("#search").change(function () {
                    lophoc.search(1);
                });
                $("#Pagesize").change(function () {
                    lophoc.search(1);
                });
                $("#listkhoahoc").change(function () {
                    lophoc.search(1);
                });
                $("#status").change(function () {
                    lophoc.search(1);
                });
                $("#create").click(function () {
                    lophoc.create();
                    lophoc.search(1);
                });
                $('#update').on('show.bs.modal', function (event) {
                    var button = $(event.relatedTarget)
                    var id = button.data('whatever')

                    lophoc.getLophoc(id);

                });
                $("#save").click(function () {
                    lophoc.save();
                    lophoc.search(1);
                });

            },
            getLophoc: function (id) {

                $.ajax({
                    type: 'get',
                    dataType: 'JSON',
                    url: '/Admin/lophoc/getLophoc/' + id,
                    success: function (res) {
                        $("#edit_id").val(res.data.IDlophoc);
                        $("#edit_name").val(res.data.name);
                        $("#edit_start").val(res.data.start);
                        $("#edit_finish").val(res.data.finish);
                        $("#edit_khoahoc").val(res.data.IDkhoahoc);
                        $("#edit_status").val(res.data.status);
                       
                    }
                });
            },
            search: function (index) {
                var name = $("#search").val();
                var IDkhoahoc = $("#listkhoahoc").val();
                var status = $("#status").val();
                var size = $("#Pagesize").val();
                var form = new FormData()
                form.append("name", name);
                form.append("IDkhoahoc", IDkhoahoc);
                form.append("size", size);
                form.append("status", status);
                form.append("index", index);
                $.ajax({
                    type: 'POST',
                    dataType: 'Json',
                    contentType: false,
                    processData: false,
                    data: form,
                    url: '/Admin/lophoc/ShowList/',
                    success: function (res) {
                        $("#tbData").html(res.data);
                        $("#pages").html(res.page);
                    },
                });
            },
            create: function () {
                var name = $("#name").val();
                var start = $("#start").val();
                var finish = $("#finish").val();
                var create_khoahoc = $("#create_khoahoc").val();
                var create_status = $("#create_status").val();
                

                var form = new FormData()
                form.append("name", name);
                form.append("start", start);
                form.append("finish", finish);
                form.append("IDkhoahoc", create_khoahoc);
                form.append("status", create_status);
               

                $.ajax({
                    type: 'POST',
                    dataType: 'Json',
                    contentType: false,
                    processData: false,
                    data: form,
                    url: '/Admin/lophoc/Create/',
                    success: function (res) {

                        _layout.showtoast(res.mess);
                    },
                });
            },
            save: function () {
                var id = $("#edit_id").val();
                var name = $("#edit_name").val();
                var start = $("#edit_start").val();
                var finish = $("#edit_finish").val();
                var IDkhoahoc = $("#edit_khoahoc").val();
                var status = $("#edit_status").val();
               

                var form = new FormData()
                form.append("id", id);
                form.append("name", name);
                form.append("start", start);
                form.append("finish", finish);
                form.append("IDkhoahoc", IDkhoahoc);
                form.append("status", status);               

                $.ajax({
                    type: 'POST',
                    dataType: 'Json',
                    contentType: false,
                    processData: false,
                    data: form,
                    url: '/Admin/lophoc/Update/',
                    success: function (res) {

                        _layout.showtoast(res.mess);
                    },
                });
            },

        }
        lophoc.init();
        function goto(i) {
            lophoc.search(i);
        }
    </script>
}

